/*---search----*/

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  opacity: 0.9
}

.labels{
    font-size: 30px;

}

input {
    direction: rtl;
    width: 70%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    background: #f1f1f1;
}

form {
    direction: rtl;
}

#main_search{
    color: gray;
}

.col-4-location {
    color: gray;
    background-color: #f1f1f1;
    width: 100%;
}

.button1 {
    width: 90%;
    font-size: 30px;
    color: #f1f1f1;
    background-color: #9c7c81;
    border: none;
    cursor: pointer;
}

.button1:hover {
    background-color: #E2DAD5;
    color: #48422a;
}

.button1_left {
    width: 50%;
    font-size: 20px;
    color: #f1f1f1;
    background-color: #9c7c81;
    border: none;
    cursor: pointer;
    text-align: center;
}

.button1_left:hover {
    background-color: #E2DAD5;
    color: #48422a;
}

/*---Top 3-----*/

.location1 {
    width: 20%;
    text-align: center;
}

#location1:hover{
    width: 30%;
}

.resturant{
  display: flex;
  align-items: center;
  justify-content: center;
}

.website_button{
  appearance: none;
  background-color: #FAFBFC;
  border: 1px solid rgba(27, 31, 35, 0.15);
  border-radius: 6px;
  box-shadow: rgba(27, 31, 35, 0.04) 0 1px 0, rgba(255, 255, 255, 0.25) 0 1px 0 inset;
  box-sizing: border-box;
  color: #24292E;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system, system-ui, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  list-style: none;
  padding: 6px 16px;
  position: relative;
  transition: background-color 0.2s cubic-bezier(0.3, 0, 0.5, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  white-space: nowrap;
  word-wrap: break-word;
  text-decoration: none;
}

.website_button:hover {
  background-color: #F3F4F6;
  text-decoration: none;
  transition-duration: 0.1s;
}

.website_button:disabled {
  background-color: #FAFBFC;
  border-color: rgba(27, 31, 35, 0.15);
  color: #959DA5;
  cursor: default;
}

.website_button:active {
  background-color: #EDEFF2;
  box-shadow: rgba(225, 228, 232, 0.2) 0 1px 0 inset;
  transition: none 0s;
}

.website_button:focus {
  outline: 1px transparent;
}

.website_button:before {
  display: none;
}

#location{
    text-align: center;
}

.contact {
    text-decoration: none;
    color: black;

}

.message_final_order {
    color: #9c7c81;
    font-size: 20px;
    text-align: center;
    border: 2px solid #9c7c81;
}