{% extends 'base.html' %}

{% set page_head_title = 'reservations' %}

{% block page_head_css %}
<link rel="stylesheet" href="{{ url_for('reservations.static', filename='css/reservations.css') }}"/>
{% endblock %}

{% block page_body_main_content %}
    <div class="col-12">
        <div class="col-3">
            <div class="resImg">
                <img src="{{  url_for('reservations.static', filename='media/asian.PNG') }} " style="width: 100%;"><br><br>
                <img src="{{  url_for('reservations.static', filename='media/beit_kandinof.PNG') }}" style="width: 100%;"><br><br>
                <img src="{{  url_for('reservations.static', filename='media/4.PNG') }}" style="width: 100%;"><br><br>
                <img src="{{  url_for('reservations.static', filename='media/14.PNG') }}" style="width: 100%;"><br><br>
                <img src="{{  url_for('reservations.static', filename='media/gaia_garden.png') }}" style="width: 100%;"><br><br>
            </div>
        </div>
        <div class="col-6">
            <form action="" class="main">
                <div id="MyResHeader">
                    My Reservations
                </div>
                {% if message %}
                     <div class="message">
                           {{ message }}
                     </div>
                {% endif %}
                {% if reservations%}
                    {% for res in reservations %}
                        <div class="resturant">
                            <div class="col-3">
                                    <img src="{{  url_for('reservations.static', filename='media/'+res.img ) }}" style="width: 80%;">
                            </div>
                            <div class="col-6">
                                <div class="text">
                                    <h1>{{ res.restaurants_name }}</h1>
                                    <h4>{{ res.city }}</h4>
                                    <p>
                                        {{ res.booking_Date }} at {{ res.booking_Time }} &#9679 {{ res.number_of_diners }} people
                                    </p>
                                    <a href="Credit_Card.html" class="website_button">Book again</a>
                                </div>
                            </div>
                            <div class="col-3">
                                <div class="contact">
                                    <h3>Contact</h3>
                                    <div class="contactPhone">
                                        <img src="{{  url_for('reservations.static', filename='media/phone.PNG') }}" style="width: 20%;"><br><br>
                                        <h4>{{ res.phone_number }}</h4>
                                    </div>
                                    <a href={{ res.website }} class="website_button">Website</a>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                {% endif %}
            </form>
        </div>
        <div class="col-3">
            <div class="resImg">
                <img src="{{  url_for('reservations.static', filename='media/food.PNG') }}" style="width: 100%;"><br><br>
                <img src="{{  url_for('reservations.static', filename='media/14.PNG') }}" style="width: 100%;"><br><br>
                <img src="{{  url_for('reservations.static', filename='media/wine.PNG') }}" style="width: 100%;"><br><br>
                <img src="{{  url_for('reservations.static', filename='media/live_map1.PNG') }}" style="width: 100%;"><br><br>
                <img src="{{  url_for('reservations.static', filename='media/13.png') }}" style="width: 100%;"><br><br>
            </div>
        </div>
    </div>


{% endblock %}

{% block page_body_footer %}{% endblock %}