{% extends 'base.html' %}

{% set page_head_title = 'signin' %}

{% block page_head_css %}
    <link rel="stylesheet" href="{{ url_for('signin.static', filename='css/sign.css') }}"/>
{% endblock %}

{% block page_body_main_content %}
   <div class="col-12 findTable">
        <div class="col-4">

                 <img src="{{ url_for('signin.static', filename='media/9.PNG') }}" class="center" ><br>
                <img src="{{ url_for('signin.static', filename='media/10.PNG') }}" class="center" ><br>
                <img src="{{ url_for('signin.static', filename='media/12.PNG ') }}" class="center" ><br>

        </div>

   <div class="col-4" id = "main_search" >
             <div id="info">
                   <form action="action_page.php" style="border:none">
                       <h2 class="title1"><strong> Log in</strong></h2>
                            <label for="email" class="labels">Email</label><br>
                            <input type="text" placeholder="Enter email adress" id="email" required><br>
                            <label for="password" class="labels">Password</label><br>
                            <input type="password" placeholder="Select a password" id="password" required><br>
                            <label for="name" class="labels">Full name</label><br>
                            <input type="text" placeholder="Insert your full name" id="name" required><br>
                            <div class="clearfix">
                                <button class="button1" type="submit" class="signupbtn">Log in</button>
                            </div>
                            <br>
                            <a href=/signup>
                                 <button class="button1" type="button">Create account</button>
                            </a>
              </form>
          </div>
      </div>

              <div class="col-4" id = right_photos>

                <img src="{{ url_for('signin.static', filename='media/9.PNG') }}" class="center" ><br>
                <img src="{{ url_for('signin.static', filename='media/10.PNG') }}" class="center" ><br>
                <img src="{{ url_for('signin.static', filename='media/12.PNG') }}" class="center" ><br>

              </div>
    </div>
{% endblock %}

{% block page_body_footer %}{% endblock %}

