{% extends 'base.html' %}

{% set page_head_title = 'Search Results' %}

{% block page_head_css %}
    <link rel="stylesheet" href="{{ url_for('SearchResults.static', filename='css/SearchResults.css') }}"/>
{% endblock %}

{% block page_body_main_content %}
   <div class="col-12">
        <div class="col-2">
            <div id="Left">
                <form action="/SearchResults" method="post">
                    <label class="opt" for="seating_opt">Seating Options</label><br>
                    <input list="seating_opt" name="seating_opt"><br><br>
                    <datalist id="seating_opt">
                        <option value="Bar"></option>
                        <option value="Inside"></option>
                        <option value="Salon"></option>
                        <option value="Smoking Area"></option>
                        <option value="Terrace"></option>
                    </datalist>

                    <label  class="opt" for="regions">Regions</label><br>
                    <input list="regions" name="regions"><br><br>
                    <datalist id="regions">
                        <option value="Tel Aviv"></option>
                        <option value="Beer Sheva"></option>
                        <option value="Jerusalem"></option>
                        <option value="Haifa"></option>
                    </datalist>

                    <label class="opt" for="cuisine">Cuisine</label><br>
                    <input list="cuisine" name="cuisine"><br><br>
                    <datalist id="cuisine">
                        <option value="Italian"></option>
                        <option value="European"></option>
                        <option value="Fusion"></option>
                        <option value="Israeli"></option>
                        <option value="Mediterranean"></option>
                        <option value="Middle Eastern"></option>
                        <option value="Thai"></option>
                        <option value="Asian"></option>
                    </datalist>

                    <label class="opt" for="rating">Rating</label><br>
                    <input list="rating" name="rating"><br><br>
                    <datalist id="rating">
                        <option value="3.5"></option>
                        <option value="4.0"></option>
                        <option value="4.5"></option>
                    </datalist>

                    <input type="hidden" name="tables" value={{ tables }}>
                    <a>
                        <button class="website_button" id="FilterBTN" type="submit" >Filter results</button>
                    </a>
{#                    <input type="radio" id="Bar" name="Soption" >#}
{#                    <label for="Bar">Bar</label><br>#}
{#                    <input type="radio" id="Inside" name="Soption" >#}
{#                    <label for="Inside">Inside</label><br>#}
{#                    <input type="radio" id="Salon" name="Soption" >#}
{#                    <label for="Salon">Salon</label><br>#}
{#                    <input type="radio" id="Smoking_area" name="Soption" >#}
{#                    <label for="Smoking_area">Smoking Area</label><br>#}
{#                    <input type="radio" id="Terrace" name="Soption" >#}
{#                    <label for="Terrace">Terrace</label><br><br>#}
{#                    <input type="radio" id="TLV" name="Region" >#}
{#                    <label for="TLV">Tel Aviv</label><br>#}
{#                    <input type="radio" id="BSH" name="Region" >#}
{#                    <label for="BSH">Beer Sheva</label><br>#}
{#                    <input type="radio" id="JLM" name="Region" >#}
{#                    <label for="JLM">Jerusalem</label><br>#}
{#                    <input type="radio" id="HFA" name="Region" >#}
{#                    <label for="HFA">Haifa</label><br><br>#}
{#                    <input type="radio" id="Italian" name="CSN" >#}
{#                    <label for="Italian">Italian</label><br>#}
{#                    <input type="radio" id="European" name="CSN" >#}
{#                    <label for="European">European</label><br>#}
{#                    <input type="radio" id="Fusion" name="CSN" >#}
{#                    <label for="Fusion">Fusion</label><br>#}
{#                    <input type="radio" id="Israeli" name="CSN" >#}
{#                    <label for="Israeli">Israeli</label><br>#}
{#                    <input type="radio" id="Mediterranean" name="CSN" >#}
{#                    <label for="Mediterranean">Mediterranean</label><br>#}
{#                    <input type="radio" id="Middle_Eastern" name="CSN" >#}
{#                    <label for="Middle_Eastern">Middle Eastern</label><br>#}
{#                    <input type="radio" id="Thai" name="CSN" >#}
{#                    <label for="Thai">Thai</label><br>#}
{#                    <input type="radio" id="Asian" name="CSN" >#}
{#                    <label for="Asian">Asian</label><br><br>#}
{#                    <input type="radio" id="3.5" name="RTG" >#}
{#                    <label for="3.5">3.5 and over</label><br>#}
{#                    <input type="radio" id="4.0" name="RTG" >#}
{#                    <label for="4.0">4.0 and over</label><br>#}
{#                    <input type="radio" id="4.5" name="RTG" >#}
{#                    <label for="4.5">4.5 and over</label><br><br>#}
                </form>
            </div>
        </div>

        <div class="col-7">

            <form action="" class="main">
                <div class="wrap">
                    <div class="search">
                        <input type="text" class="searchTerm" placeholder="Search for a restaurant">
                        <button type="submit" class="searchButton">
                            Search
                        </button>
                    </div>
                </div><br>
            </form>

            {% if message %}
                      <div class="message">
                          {{ message }}
                      </div>
                      <br><br><br>
                      <div class="col-1"></div>
                      <a href="/"> <button class="button1" type="button" >Return to the main search page</button></a>
                      <div class="col-1"></div>
            {% endif %}
            {% if tables%}
                    {% for table in tables %}

                           <div class="col-3">
                               <div class="images">
                                   <img src="{{  url_for('SearchResults.static', filename='media/'+table.img ) }}" style="width: 60%;">
                               </div>
                           </div>

                           <div class="col-6">
                               <div class="text">
                                   <h1>{{table.restaurants_name}}</h1>
                                   <p>
                                      City: {{ table.city}} &#9679 Rate: {{table.rating}} &#9679 Table: {{table.type}}
                                   </p>
                                   <form action="/credit_card" method="POST">
                                        <input type="hidden" name="table_ID" value={{ table.table_ID }}>
                                        <input type="hidden" name="number_of_diners" value={{ table.number_of_diners }}>
                                        <a href="/credit_card"><button type="submit">Book</button></a>
                                   </form>
                               </div>
                           </div>

                           <div class="col-3">
                                <div class="contact">
                                    <h3>Contact</h3>
                                    <div class="contactPhone">
                                        <img src="{{  url_for('SearchResults.static', filename='media/phone.PNG') }}" style="width: 20%;"><br><br>
                                        <h4>{{ table.phone_number }}</h4>
                                    </div>
                                    <a href={{ table.website }} class="website_button">Website</a>
                                </div>
                            </div><br><br>

                    {% endfor %}
            {% endif %}

        </div>
        <div class="col-3">
            <div class="resImg">
                <img src="{{ url_for('SearchResults.static', filename='media/asian.PNG') }}" style="width: 100%;"><br><br>
                <img src="{{ url_for('SearchResults.static', filename='media/beit_kandinof.PNG') }}" style="width: 100%;" ><br><br>
                <img src="{{ url_for('SearchResults.static', filename='media/wine.PNG') }}" style="width: 100%;"><br><br>
                <img src="{{ url_for('SearchResults.static', filename='media/food.PNG') }}" style="width: 100%;"><br><br>
                <img src="{{ url_for('SearchResults.static', filename='media/gaia_garden.png') }}" style="width: 100%;"><br>
            </div>
        </div>
   </div>

{% endblock %}

{% block page_body_footer %}{% endblock %}


