
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  opacity: 0.9
}

.location1 {
    width: 20%;
    text-align: center;
}

#location1:hover{
    width: 30%;
}

.footer img{
    width:30%;
    text-align: center;
}


#location{
    text-align: center;
}

.contact {
    text-decoration: none;
    color: black;

}
