{% extends 'base.html' %}

{% set page_head_title = 'Homepage' %}


{% block page_head_css %}
    <script src="{{ url_for('homepage.static', filename='js/homepage.js') }}"></script>
    <link rel="stylesheet" href="{{ url_for('homepage.static', filename='css/homepage.css') }}">

    <!-------- geolocation -------->
     <script>
         const successCallback = (position) => {
            console.log(position);
         };
         const errorCallback= (error) => {
           console.log(error);
         };
         navigator.geolocation.getCurrentPosition(successCallback, errorCallback, {
         enableHighAccuracy: true
     });

     </script>
{% endblock %}



{% block page_body_main_content %}

<!-------- Search -------->
<div class="col-12 findTable">
      <form action="" method="post" class="home_form">

        <div class="col-3">
            <div class="col-4-location" >
                 <h3>Search based on your current location</h3>
                <a href="liveMap.html" class="footer">
                    <img class="center" src="static/media/img/map.png" class = "location1">
                </a>
            </div>

            <div class="col-4-location" >
                <h3>NEAR YOU</h3>
                <P><strong>Méli-Mélo</strong><br>Dining Bar - Cocktails</P>
                <a href="https://www.facebook.com/melimelotlv/">
                        <img class="center" src="static/media/img/left1.PNG">
                </a><br><br>
                <P><strong>Dalida</strong><br>Mediterranean - Chef</P>
                <a href="https://en.dalidatlv.co.il/">
                        <img class="center" src="static/media/img/left2.PNG">
                </a>
            </div>
          </div>

          <div class="col-6" id = "main_search">
                <h1 >Find your table</h1>
                <label class="labels" for="date">Date</label><br>
                <input type="date" id="date" name="date"><br>
                <label class="labels" for="time">Time</label><br>
                <input type="time" id="time" name="time"><br>
                <label class="labels" for="num_people">Number of people</label><br>
                <input id = "num_people" type="number" min ="1" max="9" name="number"><br>
                <label class="labels" for="location">Location </label>
                <br>
                <input list = "location" type="location" name="location"/></label><br><br>
                <datalist id = "location">
                    <option value="Tel Aviv-Yafo">
                        <option value="Beer Sheva">
                        <option value="Haifa">
                        <option value="Jerusalem">
                        <option value="Acre">
                        <option value="Zichron Yaakov">
                        <option value="Herzliya">
                        <option value="Ramat-Gan">
                        <option value="Rishon LeTsiyon">
                        <option value="Netanya">
                        <option value="Eilat">

                </datalist>
                <a href="SearchResults.html">
                        <button class="button1" type="button">Find me a SIT</button>
                </a>
          </div>

          <div class="col-3" >
                 <img src="static/media/img/1.PNG" class="center" ><br>
                <img src="static/media/img/6.PNG" class="center" ><br>
                <img src="static/media/img/8.PNG" class="center" ><br>
                <img src="static/media/img/wine.PNG" class="center"><br>
                <img src="static/media/img/14.png" class="center"><br>
          </div>


      </form>
</div>


{% endblock %}
