{% extends 'base.html' %}

{% set page_head_title = 'Homepage' %}


{% block page_head_css %}
    <script src="{{ url_for('homepage.static', filename='js/homepage.js') }}"></script>
    <link rel="stylesheet" href="{{ url_for('homepage.static', filename='css/homepage.css') }}">

    <!-------- geolocation -------->
     <script>
         const successCallback = (position) => {
            console.log(position);
         };
         const errorCallback= (error) => {
           console.log(error);
         };
         navigator.geolocation.getCurrentPosition(successCallback, errorCallback, {
         enableHighAccuracy: true
     });

     </script>
{% endblock %}



{% block page_body_main_content %}

<!-------- Search -------->
<div class="col-12 findTable">
      <form action="" method="post" class="home_form">
        <div class="col-3">
            <div class="col-4-location" >
                 <h1>Top 3 rated resturants </h1>
                 {% for res in Top_3_Restaurants %}
                    <div class="resturant">
                         <div class="col-7">
                            <h2>{{ res.restaurants_name }}</h2>
                            <h3><strong>Rating: {{ res.rating }}</strong></h3>
                            <a href={{ res.website }} class="website_button">Website</a><br><br>
                         </div>
                         <div class="col-5">
                            <img src="{{  url_for('homepage.static', filename='media/'+res.img ) }}" style="width: 100%;">
                         </div>
                    </div>
                 {% endfor %}
            </div>


          </div>

          <div class="col-6" id = "main_search">

            {% if message %}
                      <div class="message_final_order">
                          {{ message }}
                      </div>
            {% endif %}


             <form action="/homepage" method="POST" style="border:none">
                <h1 >Find your table</h1>
                <label class="labels" for="date" >Date</label><br>
                <input type="date" id="date" name="date"><br>
                <label class="labels" for="time">Time</label><br>
                <input type="time" id="time" name="time"><br>
                <label class="labels" for="num_people">Number of people</label><br>
                <input id = "num_people" type="number" min ="1" max="9" name="num_people"><br>
                <label class="labels" for="location">Location </label>
                <br>
                <input list = "location" type="location" name="location"/></label><br><br>
                <datalist id = "location">
                        <option value="Tel Aviv">
                        <option value="Beer Sheva">
                        <option value="Haifa">
                        <option value="Jerusalem">
                        <option value="Acre">
                        <option value="Zichron Yaakov">
                        <option value="Herzliya">
                        <option value="Ramat-Gan">
                        <option value="Rishon LeTsiyon">
                        <option value="Netanya">
                        <option value="Eilat">
                </datalist>
                <a>
                        <button class="button1" type="submit">Find me a SIT</button>
                </a>
                 </form>
          </div>

          <div class="col-3" >
                 <img src="static/media/img/1.PNG" class="center" ><br>
                <img src="static/media/img/6.PNG" class="center" ><br>
                <img src="static/media/img/8.PNG" class="center" ><br>
                <img src="static/media/img/wine.PNG" class="center"><br>
                <img src="static/media/img/14.png" class="center"><br>
          </div>


      </form>
</div>


{% endblock %}
