<!DOCTYPE html>
 <html lang="{{ page_lang|default("en", true) }}">
    <head>
    {% block page_head %}
        {# Title #}
        <title>{{ page_head_title_author|default('SitMe', true) }} | {{ page_head_title|default('', true) }}</title>

        {# Meta tags #}
        {% block page_head_meta %}
            <base href="/"/>
            <meta charset="UTF-8"/>
            <meta name="author" content="group4"/>
            <meta name="description" content="SitMe WebSite"/>
            <meta name="keywords" content="SitMe, Reservations, Results, food, chef , table"/>
            {% block page_head_meta_extra %}{% endblock %}
        {% endblock %}

        {# favicon #}
        <link rel="icon" href="{{ url_for('static', filename='static/media/img/logo.PNG') }}"/>

        {# Base #}
        <base href="/"/>

        {# CSS #}
        <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}"/>

        <script src="{{ url_for('static', filename='js/base.js') }}"></script>

        {% block page_head_css %}{% endblock %}
    {% endblock %}
    </head>
<body>
{% block page_body_content %}

{# Header #}
{% block page_body_header %}
<header>
<!-------- Welcome bar -------->
<div class="col-12-bar">
        <div class="col-2-bar">
            <a href="/homepage">
                <img src="static/media/img/logo.PNG" class = "logo">
            </a>
        </div>

       <div class="col-1"></div>

        <div class="col-2-bar">
            <a href="/reservations" class="footer">
                <button class="headerBTN">My reservation</button>
            </a>
        </div>

        <div class="col-2-bar">
            <a href="/livemap" class="footer">
                <button class="headerBTN">Map</button>
            </a>
        </div>

        <div class="col-2-bar">
            <a href="/about" class="footer">
                <button class="headerBTN">About</button>
            </a>
        </div>

        <div class="col-3">

        {% if session.logged_in %}
             <a class="headerBTN">Hello {{ session['user_name'].name }}</a><br><br>
             <a class="headerBTN" href="/logout">log Out</a>


        {% else %}
            <a href="/signin" class="footer">
                <button class="headerBTN" id="login">Log in</button>
            </a>
        {% endif %}

        </div>


</div>
</header>
{% endblock %}


{# Main #}
{% block page_body_main_content %}
{% endblock %}

{# Footer #}
{%  block page_footer %}
<div class="col-12-footer">

    <div class="col-4-footer">
        <div class="col-12-footer">
            <img src="static/media/img/logo.PNG" class = "logo"><br>
            <a href="mailto:customerservice@sitme.com"target = blank class= "contact"><p class="contact"> <h1 class = "FootCont">Contact Us</h1></a>
               <h5>Hashmonaim 119, Tel Aviv, Israel</h5>
               <h5>©️ All Rights Reserved</h5>
        </div>
        <div class="col-12-footer">
            <button class="button1_left" onclick="topFunction()" id="topFunction" title="Back to top">Back to top</button>
        </div>
    </div>

    <div class="col-4-footer">
        <div class="rowFooter">
            <div class="col-12-footer">
                <a href="/reservations" class="footer">
                    <button class="footerBTN">My reservation</button>
                </a>
                <br><br>
            </div>


            <div class="col-12-footer">
                <a href="/livemap" class="footer">
                    <button class="footerBTN">Map</button>
                </a>
                <br><br>
            </div>

            <div class="col-12-footer">
                <a href="/about" class="footer">
                    <button class="footerBTN">About</button>
                </a>
            </div>

        </div>

    </div>
    <div class="col-4-footer">
                 <h3 style="color: gray"> SitMe is part of Booking Holdings,<br> the world leader in online travel and related services</h3>
                 <a href="https://www.booking.com/index.html?aid=1703513&label=55&">
                        <img src="static/media/img/sp1.PNG" width="50%"><br>
                 </a>
                 <a href="https://www.priceline.com/?tab=hotels&kw=priceline&match=e&adp=&refid=PLGOOGLECPCB&refclickid=d%3AcBRAND16833014270g46024356902310941049094aud-975681418943%3Akwd-10842441%7C1008006%7C&gclid=Cj0KCQiAqbyNBhC2ARIsALDwAsDdWOoJauWGh1A_2Flluzj5_WGUAOZAFmVjXBa05QOlNyF9tYd9onMaApOhEALw_wcB&slingshot=1048&vrid=fb46b3784e4911cc68a93b184e0e9ee8">
                        <img src="static/media/img/sp2.PNG" width="50%"><br>
                 </a>
                 <a href="https://www.il.kayak.com/horizon/sem/hotels/general?lang=en&skipapp=true&destination=c27311&kw=-1&gclid=Cj0KCQiAqbyNBhC2ARIsALDwAsAZkZht0aS3m7rGOl5jAr70WTxwRPq_uUtz6CcKScmtrpREnvKlot4aArU6EALw_wcB">
                         <img src="static/media/img/sp3.PNG" width="50%"><br>
                 </a>
    </div>
</div>
{% endblock %}
{% endblock %}


{% block page_body_js %}{% endblock %}
</body>
</html>
